*{
	background-color: lightgrey;
}

#name{
 
  background-color: darkgrey;
  padding: 7px;
  margin-top: 30px;
  text-align: center;
}

#sidebar{
  border: 2px solid black;
  border-radius: 20px;
  width: 300px;
  height: 500px;
  margin-bottom: -500px;
  margin-top: 60px;
  margin-left: 60px;
  background-color: white;
}

#sidebar * {
    background-color: transparent;
}

#girl{
  width: 250px;
  height: 250px;
  margin-top: 60px;
  margin-left: 25px;
  border-radius: 10px;
  background-color: white;
}

#sideabout{
  margin-top: 100px;
  padding: 10px;
}

#sideprojects{
  padding: 10px;
}

#sideskills{
  padding: 10px;
}

#sidecontact{
  padding: 10px;
}

#about{
  border: 2px solid black; 
  text-align: center;
  border-radius: 15px;
  width: 300px;
  height: 150px;
  margin-left: 500px;
}

#projects{
  border: 2px solid black; 
  text-align: center;
  border-radius: 15px;
  width: 500px;
  height: 350px;
  margin-top: -100px;
  margin-left: 900px;
}

#skills{
  border: 2px solid black; 
  border-radius: 15px;
  width: 300px;
  height: 150px;
  margin-top: -210px;
  margin-left: 500px;
}

#skills1{
	text-align: center;
}

#contact{
  border: 2px solid black; 
  border-radius: 15px;
  text-align: center;
  width: 300px;
  height: 100px;
  margin-top: 40px;
  margin-left: 500px;
}

.box {
    background-color: white;
}

.box * {
    background-color: transparent;
}

#student{
  text-align: center;
}

#footer{
  margin-left: 65px;
}

.btn {
  background-color: lightgrey;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: beige;
  color: white;
}

#app{
  margin-top: 120px;
  
}
